<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>社員情報削除(完了)</title>
	<link rel="stylesheet" href="/css/delete.css">
</head>

<body>
	<div class="container">
		<!--ヘッダー-->
		<header class="header">
			<p class="header-title">社員情報削除(完了)</p>
			<p class="header-login">○○ ○○さん<br>0000/00/00 00:00</p>
		</header>
		<hr class="header-hr">
		<p th:text="${msg}" class="result-msg"></p>
		<hr class="footer-hr">
		<!-- メニュー画面への遷移 -->
		<div class="button-group1">
			<form action="/menu" method="get">
				<input type="submit" value="メニュー" class="menu-button">
			</form>
		</div>
		<!-- 検索画面への遷移 -->
		<div class="button-group2">
			<form action="/search" method="get">
				<input type="submit" value="検索へ" class="search-button">
			</form>
		</div>
		<!--フッター-->
		<footer>
			<p>Copyright © 2025 JavaStudy teamD</p>
		</footer>
	</div>
</body>

</html>