<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>社員情報登録(入力)</title>
<link rel="stylesheet" href="/css/entry.css">
</head>
<body>
	<header>
		<p>社員情報登録(入力)</p>
		<p>ログイン情報表示(名前と日付と時間)</p>
		<hr>
	</header>
	<!--エラーメッセージを表示-->
	<div th:if="${errors}">
		<p th:each="error : ${errors}" th:text="${error}"></p>
	</div>
	<!--入力画面-->
	<form action="/confirm" method="post">
		<label for="name">社員名※</label>
		<input type="text" name="name" id="name" th:value="${name}"><br>
		<label for="age">年齢※</label>
		<input type="text" name="age" id="age" th:value="${age}"><br>
		<label for="password">パスワード</label>
		<input type="password" name="password" id="password" th:value="${password}"><br>
		<label for="passwordConfirm">パスワード(確認用)</label>
		<input type="password" name="passwordConfirm" id="passwordConfirm" th:value="${passwordConfirm}"><br>
		<hr>
		<input type="submit" value="確認">
		<input type="button" value="戻る">
	</form>
	<footer>
		<p>Copyright © 2025 JavaStudy teamD</p>
	</footer>
</body>
</html>