<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!--ヘッダー-->
	<header class="header">
		<p class="header-login" th:if="${session.loginUser != null}">
			<span th:text="${session.loginUser.name}"></span> さん<br>
			<span th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd HH:mm')}"></span>
		</p>
	</header>
	<div th:if="${errors}">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var errors = /*[[${errors}]]*/[];
			if (errors.length > 0) {
				alert(errors.join('\n'));
			}
			/*]]>*/
		</script>
	</div>
	<form action="/selectByIds" method="post">
		<p>複数の社員IDを検索するときは｢,｣をつける</p>
		社員ID:<input type="text" name="ids"><br>
		<input type="submit" value="検索">
		<input type="button" value="戻る" onclick="history.back()">
	</form>
	<a href="/logout">ログアウト</a>
</body>

</html>