<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<div>
	<title>トップメニュー</title>
	<link rel="stylesheet" href="./Style2.css">
    <h3 id="name">さん</h3>
    <h5 id="login"><span th:text="${currentTime}"></span></h5>
    <h2>トップメニュー</h2>
	</div>
</head>
<body>
	<div>
	     
	     <ul class = block1>
	          <li><a href="">社員情報検索</li></a>
	          <li><a href="">社員情報削除</li></a>
	     </ul>
	     <ul class = block2>
	          <li><a href="">社員情報登録</li></a>
	          <li><a href="">社員情報更新</li></a>
	     </ul>
	     <small>Teamd&copy; 2025</small>
	</div>
	

</body>
</html>