<!DOCTYPE html>
<html lang="ja" xmlns:th ="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>トップメニュー</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/Style2.css}"/>
</head>

<body>
		<div class ="Session">
			<h3 id="name"><span th:text="${session.userName} ?: 'ゲスト'"></span>さん</h3>
			<h5 id="login"><span th:text="${session.currentTime}"></span></h5>
		</div>
		
		<h2>トップメニュー</h2>
	
	     <ul class = block1>
	          <li><a href="http://localhost:8080/Select/Sample1">社員情報検索</a></li>
	          <li><a href="http://localhost:8080/Select/Sample2">社員情報削除</a></li>
	     </ul>
	     <ul class = block2>
	          <li><a href="http://localhost:8080/Select/Sample3">社員情報登録</a></li>
	          <li><a href="http://localhost:8080/IDcheck">社員情報更新</a></li>
	     </ul>
	     <small>Teamd&copy; 2025</small>
</body>
</html>