<!DOCTYPE html>
<html lang="ja">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>社員情報更新</title>
	 
     <link rel="stylesheet" href="./Style3.css">
     <h3 id="name">さん</h3>
     <h5 id="login"></h5>
     <h2>社員情報更新（入力）</h2>
</head>
<body>
     <ul class="id">
         <li>社員ID</li>
         <li><input type="text" maxlength="200"></li> 
     </ul>
     <ul class="name">
          <li>社員名<li>
          <li><input type="text" maxlength="200"></li>
     </ul>
     <ul class="age">
          <li>年齢</li>
          <li><input type="text" maxlength="200"></li>
     </ul>
     <ul class="password">
          <li>パスワード</li>
          <li><input type="password" maxlength="200"></li>
     </ul>
     <ul class="check">
          <li>パスワード確認</li>
          <li><input type="password" maxlength="200"></li >
     </ul>
     <ul class="start">
          <li>開始日</li>
          <li><input type="text" maxlength="200"></li>
     </ul>
     <ul class="end">
          <li>終了日</li>
          <li><input type="text" maxlength="200"></li>
     </ul>

     <p></p>
     <ul class="button-group">
          <li><input type="submit" value="確認"></li>
          <li><input type="submit" value="削除"></li>
          <li><input type="submit" value="戻る"></li>
     </ul>
</body>
</html>