<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>社員情報更新</title>
  <link rel="stylesheet" href="./Style5.css">

</head>
<body>
	<h3 id="name"><span th:text="${session.userName} ?: 'ゲスト'"></span>さん</h3>
	     <h5 id="login"><span th:text="${session.currentTime}"></span></h5>
		 
		 <form th:action="@{/updatecomplete}" method="post">
	     <h2>社員情報更新（完了）</h2>
	     
	     <h1 class="complete">社員情報の更新が完了しました</h1>
	     <p></p>
	     
		 </form>
		 <form id ="Selectback3" th:action="@{/Selectback3}" method="post">
	     <ul class="button-group">
			
	          <li><input type="submit" value="メニュー"></li>
			</form>
			
			<form id ="Kensaku" th:action="@{/Kensaku}" method="post">
	          <li><input type="submit" value="検索へ" ></li>
			</form>
			  
</body>
</html>