<!DOCTYPE html>
<html lang="ja">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./Style3.css">
     <title>社員情報更新</title>
</head>
<body>
	<h3 id="name"><span th:text="${session.userName} ?: 'ゲスト'"></span>さん</h3>
	<h5 id="login"><span th:text="${session.currentTime}"></span></h5>
	<h2>社員情報更新（入力）</h2>
		 
	<form action="/update" method = "post">
     <ul class="id">
         <li>社員ID</li>
         <li><input type="text "name ="id=" maxlength="200" th:value="${session.id}" readonly></li> 
     </ul>
     <ul class="name">
          <li>社員名<li>
          <li><input type="text" name="name" maxlength="200"></li>
     </ul>
     <ul class="age">
          <li>年齢</li>
          <li><input type="text"name ="age" maxlength="200"></li>
     </ul>
     <ul class="password">
          <li>パスワード</li>
          <li><input type="password" name="password"  maxlength="200"></li>
     </ul>
     <ul class="check">
          <li>パスワード確認</li>
          <li><input type="password" name="check" maxlength="200"></li>
     </ul>
     <ul class="start">
          <li>開始日</li>
          <li><input type="text" name="start" maxlength="200"></li>
     </ul>
     <ul class="end">
          <li>終了日</li>
          <li><input type="text" name="end" maxlength="200"></li>
     </ul>

     <p></p>
     <ul class="button-group">
          <li><input type="submit" value="確認"></li>
          <li><input type="submit" value="削除"></li>
          <li><input type="submit" value="戻る"></li>
     </ul>
	 
	 </form> 
</body>
</html>