<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社員情報検索</title>
</head>
<body>
    <h1>社員情報検索</h1>
    <form action="/search" method="get">
        <label for="id">社員ID</label>
        <input type="text" id="id" name="id">
        <label for="name">名前</label>
        <input type="text" id="name" name="name">
        <label for="minAge">年齢</label>
        <input type="text" id="minAge" name="minAge">
        <label for="maxAge">～</label>
        <input type="text" id="maxAge" name="maxAge">
        <label for="startDate">開始日</label>
        <input type="text" id="startDate" name="startDate">
		<label for="startDate">～</label>
		<input type="text" id="startDate" name="startDate">
        <label for="endDate">終了日</label>
        <input type="text" id="endDate" name="endDate">
		<label for="endDate">～</label>
		<input type="text" id="endDate" name="endDate">
        <button type="submit">検索</button>
        <button type="reset">クリア</button>
    </form>

    <div>
        <p th:if="${error}" th:text="${error}"></p>
        <p>検索結果: <span th:text="${resultCount}"></span>件</p>
        <table th:if="${employees}" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>氏名</th>
                    <th>年齢</th>
					<th>開始日</th>
					<th>終了日</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.age}"></td>
					<td th:text="${employee.startDate}"></td>
					<td th:text="${employee.endDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
